In [1]:
import data
data.maybe_download_and_extract("http://mit.spbau.ru/sewiki/images/0/03/Features.txt.gz", 
                                file_name="data/train.txt")
data.maybe_download_and_extract("http://mit.spbau.ru/sewiki/images/9/94/FeaturesTest.txt.gz", 
                                file_name="data/test.txt");

In [2]:
import pandas as pd
train_data = pd.read_csv("data/train.txt", sep="\t", header=None)
test_data = pd.read_csv("data/test.txt", sep="\t", header=None)

In [3]:
test_data[:4]

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,0,0.14,http://www.kulina.ru/articles/diet/all/dietyot...,5,0.363870,0.040260,0.175000,1,1,0,...,0,0,0,0,0,0,0.198020,0.545455,0.354610,1
1,0,0.14,http://www.toprunet.com/article.php?id=1969,9,0.168441,0.253544,0.195502,1,1,1,...,0,0,0,0,0,0,0.483871,0.545455,0.588235,1
2,0,0.00,http://rugag.ru/archives/178,18,0.246051,0.236320,0.081619,1,1,1,...,0,0,0,0,0,0,0.461538,0.285714,0.470588,1
3,0,0.07,http://www.book.ru/?page=4&book=126548,37,0.266999,0.213406,0.034812,1,1,1,...,0,0,0,0,0,0,0.428571,0.285714,0.444444,1